//colors
$alto_approx: #dddddd;
$black_10: rgba(0, 0, 0, 0.1);
$black_15: rgba(0,0,0,0.15);
$black_8: rgba(0, 0, 0, 0.08);
$deep_cerulean_approx: #0c84b2;
$gallery: #efefef;
$gravel_approx: #4a4a4a;
$mercury_approx: #e6e6e6;
$mirage_approx: #1d1f21;
$nobel_approx: #b3b3b3;
$patina_approx: #5e8d87;
$persian_green_approx: #05b491;
$shark_approx: #2a2a2a;
$sunset_orange_approx: #ff5138;
$white: #fff;
$white_10: rgba(255,255,255, 0.1);
$white_50: rgba(255,255,255,0.5);
$white_8: rgba(255,255,255, 0.08);
$wild_sand_approx: whitesmoke;
$woodsmoke_approx: #111111;

ul {
  &.nl {
    padding: 0;
    margin: 0;
    list-style: none;
    display: block;
    li {
      padding: 0;
      margin: 0;
      list-style: none;
      display: block;
    }
  }
  &.fix {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      display: block;
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 62.5%;
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  height: 100%;
  padding: 0;
  margin: 0;
  color: $gravel_approx;
  background: $white;
  font-size: 1.3rem;
  line-height: 1.95rem;
  font-family: monospace;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}
* {
  box-sizing: border-box;
  &:after {
    box-sizing: border-box;
  }
  &:before {
    box-sizing: border-box;
  }
}
a {
  text-decoration: none;
  color: $gravel_approx;
  transition: color 0.4s ease, border-color 0.4s ease;
}
h1 {
  font-weight: normal;
}
h2 {
  font-weight: normal;
}
h3 {
  font-weight: normal;
}
h4 {
  font-weight: normal;
}
h5 {
  font-weight: normal;
}
.content {
  min-height: 100%;
  background: $white;
  padding-left: 240px;
  transition: padding 0.25s;
}
.collapsed {
  .content {
    padding-left: 36px;
  }
  .nav {
    transform: translate(-206px, 0);
    .dir__content {
      transform: translate(-36px, 0);
    }
  }
  .dir__title {
    color: transparent;
  }
  #button-drawer {
    transform: translate(16px);
    button {
      &:nth-of-type(2) {
        transform: translate(0, 28px);
      }
      &:nth-of-type(3) {
        transform: translate(0, 56px);
      }
      &:nth-of-type(4) {
        transform: translate(0, 84px);
      }
    }
  }
  button#toggle-collapse::before {
    transform: rotate(180deg);
  }
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: 240px;
  overflow: hidden;
  background: $wild_sand_approx;
  border-right: 1px solid $mercury_approx;
  transition: transform 0.25s;
  h4 {
    font-weight: bold;
    padding: 0 20px;
  }
  .dir__title {
    display: block;
    padding: 0 20px;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
    line-height: 12px;
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: $nobel_approx;
    transition: color 0.25s;
  }
  .dir__content {
    margin-bottom: 25px;
    position: relative;
    transition: transform 0.25s;
  }
  a {
    display: block;
    padding: 5px 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition: background-color 0.25s, color 0.25s;
    &.active {
      background-color: $persian_green_approx;
      color: $white;
    }
  }
  span {
    display: block;
    padding: 5px 20px;
  }
  .author {
    position: absolute;
    left: 0;
    bottom: 20px;
  }
}
.nav__scroll {
  width: 360px;
  overflow-y: scroll;
  height: 100%;
}
.nav__inner {
  width: 240px;
  padding: 10px 0;
}
#button-drawer {
  position: absolute;
  right: 20px;
  top: 20px;
  transition: transform 0.25s;
  button {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    background-color: $black_8;
    transition: background-color 0.25s;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    transition: transform 0.25s;
    &:hover {
      background-color: $black_10;
    }
    &:active {
      background-color: $persian_green_approx;
    }
    &:nth-of-type(2) {
      transform: translate(-28px);
    }
    &:nth-of-type(3) {
      transform: translate(-56px);
    }
    &:nth-of-type(4) {
      transform: translate(-84px);
    }
  }
}
#content {
  display: block;
  position: relative;
  height: 100%;
}
#docview {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  iframe {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    border: none;
    background-color: $white;
    &:first-child {
      z-index: 100;
    }
  }
}
button {
  &#toggle-collapse::before {
    display: block;
    position: relative;
    content: url(/img/chevron.svg);
  }
  &#toggle-nightmode::before {
    content: url(/img/moon.svg);
  }
}
.section__notifications {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 1em;
  padding-top: 1em;
  .notification {
    width: 300px;
    display: block;
    padding: 1em;
    color: $white;
    overflow: hidden;
    transition: height 0.2s, padding 0.2s, opacity 0.2s, margin 0.2s;
    box-shadow: 0 4px 4px 0 $black_15;
    margin-bottom: 1em;
    .actions {
      text-align: right;
    }
    &.exit {
      height: 0 !important;
      padding-top: 0;
      padding-bottom: 0;
      opacity: 0;
      margin-bottom: 0;
    }
    h2 {
      margin: 0;
    }
  }
  .notification[data-kind="info"] {
    background-color: $deep_cerulean_approx;
    button:active {
      background-color: $white;
      color: $deep_cerulean_approx;
    }
  }
  .notification[data-kind="ok"] {
    background-color: $persian_green_approx;
    button:active {
      background-color: $white;
      color: $persian_green_approx;
    }
  }
  .notification[data-kind="error"] {
    background-color: $sunset_orange_approx;
    button:active {
      background-color: $white;
      color: $sunset_orange_approx;
    }
  }
  button {
    appearance: none;
    border: 1px solid $white_50;
    background-color: transparent;
    color: $white;
    outline: none;
    transition: color 0.2s, background-color 0.2s;
  }
}
@media screen {
  .night {
    .content {
      background-color: $mirage_approx;
      color: $gallery;
      border-color: $woodsmoke_approx;
      background-color: $shark_approx;
    }
    .nav {
      background-color: $mirage_approx;
      color: $gallery;
      border-color: $woodsmoke_approx;
      h4 {
        color: $alto_approx;
      }
      .author {
        color: $alto_approx;
      }
      .active {
        background-color: $patina_approx;
      }
    }
    iframe {
      background-color: $shark_approx;
    }
    #button-drawer button {
      background-color: $white_10;
      color: $gallery;
      &:hover {
        background-color: $white_8;
      }
      &:active {
        background-color: $patina_approx;
      }
    }
  }
}
@media print {
  .section__document {
    border: none;
    margin-top: 0;
  }
  .nav {
    display: none;
  }
  .content {
    padding: 0 !important;
  }
  hr {
    page-break-after: always;
  }
  .section__notifications {
    display: none;
  }
}
.night button {
  &#toggle-collapse::before {
    content: url(/img/chevron-light.svg);
  }
  &#toggle-nightmode::before {
    content: url(/img/sun.svg);
  }
}
