ul.nl,
ul.nl li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: block;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 62.5%;
}
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  color: #4a4a4a;
  background: #fff;
  font-size: 13px;
  line-height: 19.5px;
  font-size: 1.3rem;
  line-height: 1.95rem;
  font-family: monospace;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #4a4a4a;
  -webkit-transition: color 0.4s ease, border-color 0.4s ease;
  -moz-transition: color 0.4s ease, border-color 0.4s ease;
  transition: color 0.4s ease, border-color 0.4s ease;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}
ul.fix,
ul.fix li {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}


.content {
  min-height: 100%;
  background: #fff;
  padding-left: 240px;
  transition: padding 0.25s;
}
.collapsed .content {
  padding-left: 36px;
}


.nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: 240px;
  overflow: hidden;
  background: whitesmoke;
  border-right: 1px solid #e6e6e6;
  transition: transform 0.25s;
}
.collapsed .nav{
  transform: translate(-206px, 0);
}
.nav h4 {
  font-weight: bold;
  padding: 0 20px;
}
.nav .dir__title {
  display: block;
  padding: 0 20px;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 12px;
  line-height: 12px;
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: #b3b3b3;
  transition: color 0.25s;
}
.collapsed .dir__title {
  color: transparent;
}
.nav .dir__content {
  margin-bottom: 25px;
  position: relative;
  transition: transform 0.25s;
}
.collapsed .nav .dir__content {
  transform: translate(-36px, 0);
}
.nav a {
  display: block;
  padding: 5px 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: background-color 0.25s, color 0.25s;
}
.nav a.active {
  background-color: #05b491;
  color: #fff;
}
.nav span {
  display: block;
  padding: 5px 20px;
}
.nav .author {
  position: absolute;
  left: 0;
  bottom: 20px;
}
.nav__scroll {
  width: 360px;
  overflow-y: scroll;
  height: 100%;
}
.nav__inner {
  width: 240px;
  padding: 10px 0;
}

#button-drawer {
  position: absolute;
  right: 20px;
  top: 20px;
  transition: transform 0.25s;
}

#button-drawer button {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0.08);
  transition: background-color 0.25s;

  outline: none;
  appearance: none;
  -webkit-appearance: none;

  transition: transform 0.25s;
}

#content {
  display: block;
  position: relative;
  height: 100%;
}

#docview {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

#docview iframe {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  border: none;
  background-color: #fff;
}

#docview iframe:first-child {
  z-index: 100;
}

#button-drawer button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
#button-drawer button:active {
  background-color: #05b491;
}

.collapsed #button-drawer { transform: translate(16px); }

#button-drawer            button:nth-of-type(2) { transform: translate(-28px); }
#button-drawer            button:nth-of-type(3) { transform: translate(-56px); }
#button-drawer            button:nth-of-type(4) { transform: translate(-84px); }
.collapsed #button-drawer button:nth-of-type(2) { transform: translate(0, 28px); }
.collapsed #button-drawer button:nth-of-type(3) { transform: translate(0, 56px); }
.collapsed #button-drawer button:nth-of-type(4) { transform: translate(0, 84px); }

button#toggle-collapse::before {
  display: block;
  position: relative;
  content: url(/img/chevron.svg);
}
.collapsed button#toggle-collapse::before {
  transform: rotate(180deg);
}
.night button#toggle-collapse::before {
  content: url(/img/chevron-light.svg);
}

button#toggle-nightmode::before {
  content: url(/img/moon.svg);
}
.night button#toggle-nightmode::before {
  content: url(/img/sun.svg);
}

.section__notifications {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 1em;
  padding-top: 1em;
}

.section__notifications .notification {
  width: 300px;
  display: block;
  padding: 1em;
  color: white;
  overflow: hidden;

  transition: height 0.2s, padding 0.2s, opacity 0.2s, margin 0.2s;
  box-shadow: 0 4px 4px 0px rgba(0,0,0,0.15);
}

.section__notifications .notification .actions{
  text-align: right;
}

.section__notifications .notification.exit {
  height: 0 !important;
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0;
  margin-bottom: 0;
}

.section__notifications .notification h2 {
  margin: 0;
}

.section__notifications .notification[data-kind="info"] {
  background-color: #0C84B2;
}
.section__notifications .notification[data-kind="ok"] {
  background-color: #05b491;
}
.section__notifications .notification[data-kind="error"] {
  background-color: #FF5138;
}

.section__notifications .notification {
  margin-bottom: 1em;
}

.section__notifications button {
  appearance: none;
  border: 1px solid rgba(255,255,255,0.5);
  background-color: transparent;
  color: white;
  outline: none;
  transition: color 0.2s, background-color: 0.2s;
}

.section__notifications .notification[data-kind="info"] button:active {
  background-color: white;
  color: #0C84B2;
}

.section__notifications .notification[data-kind="ok"] button:active {
  background-color: white;
  color: #05b491;
}

.section__notifications .notification[data-kind="error"] button:active {
  background-color: white;
  color: #FF5138;
}



@media screen {
  .night .content,
  .night .nav {
    background-color: #1D1F21;
    color #EFEFEF;
    border-color: #111111;
  }
  .night .nav h4,
  .night .nav .author {
    color: #DDDDDD;
  }

  .night .nav .active {
    background-color: #5E8D87;
  }

  .night #button-drawer button {
    background-color: rgba(255,255,255, 0.1);
    color: #EFEFEF;
  }
  .night #button-drawer button:hover {
    background-color: rgba(255,255,255, 0.08);
  }

  .night .content,
  .night iframe {
    background-color: #2a2a2a;
  }

}

@media print {
  .section__document {
    border: none;
    margin-top: 0;
  }

  .nav {
    display: none;
  }

  .content {
    padding: 0 !important;
  }

  hr {
    page-break-after: always;
  }

  .section__notifications {
    display: none;
  }
}
