<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="/css/markdown-document.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    {{{content}}}
    <script type="text/javascript">
        document.addEventListener('post-render', function() {
            'use strict';

            var Prism = use('Prism');
            var _ = use('_');

            // highlight all code blocks
            let codeBlocks = Array.prototype.slice.call(
                    document.getElementsByTagName('code'));
            _.each(codeBlocks, function(block) {
                if (block.className.indexOf('lang-') !== -1) {
                    let language = /lang-([^ ]*)/g.exec(block.className)[1];
                    let prismLanguage = Prism.languages[language];
                    if (prismLanguage !== undefined) {
                        block.innerHTML = Prism.highlight(
                            block.innerText,
                            Prism.languages[language]
                        );
                    }
                }
            });
        });
    </script>
</body>
</html>
